<div class="user-details">
  <img width="40%" src="{{ '/images/m31-orbits.png' | prepend: site.baseurl }}" />

  <h1>July 6 — August 16 2020</h1>
  <h1>Rationale</h1>
  <p>Words here.</p>

  <h1>Organizing Committee</h1>

  <p>
    <a style="white-space: nowrap;" href="https://www.simonsfoundation.org/team/emily-cunningham/">Emily Cunningham</a>,
    <a style="white-space: nowrap;" href="https://www.elenadonghia.com/">Elena D'Onghia</a>,
    <a href="https://www.simonsfoundation.org/team/jason-hunt/">Jason Hunt</a>,
    <a style="font-weight: bold;" href="http://user.astro.columbia.edu/~kvj/">Kathryn Johnston</a> (chair),
    <a href="http://user.astro.columbia.edu/~mkness/Home.html">Melissa Ness</a>,
    <a href="http://drsarahpearson.com/">Sarah Pearson</a>,
    <a style="white-space: nowrap;" href="http://adrian.pw">Adrian Price-Whelan</a>,
    <a href="https://www.physics.upenn.edu/index.php/people/standing-faculty/robyn-sanderson">Robyn Sanderson</a>,
    <a href="https://www.simonsfoundation.org/team/tjitske-starkenburg/">Tjitske Starkenburg</a>
  </p>

</div>


